<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="live.chatkit.android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <!--service
            android:name=".ChatMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/chat_notification_channel_id" /-->
    </application>

</manifest>
